body {color: var(--color2);}


.answer-container {
display: flex;
margin-bottom: 16px;
width: 66%;
border-radius: 4px;
background: var(--color4);
min-width: 20em;

}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.313rem 0.375rem var(--color5);
    transform: scale(1.5);
}


