/* color palette included from coolors.co guidance on making the website taken from youtube video https://www.youtube.com/watch?v=f4fB9Xg2JEY
video guidance was adapted to suit my needs for the site. Also trying using variables and got guidance from https://www.w3schools.com/css/css3_variables.asp*/

:root {
    --color1: #ffbe0b;
    --color2: #FFD86E;
    --color3: #ff006e;
    --color4: #8338ec;
    --color5: #3a86ff;
    background-color: var(--color1)

}


body {
    
    font-family: 'Comic Neue', sans-serif;
    box-sizing: border-box;
	margin: 0;
    padding:0;
    font-size: 16px;
	width: 100vw;
    --color1: #ffbe0b;
    --color2: #FFD86E;
    --color3: #ff006e;
    --color4: #8338ec;
    --color5: #3a86ff;
    background-color: var(--color1)

}

h1 {
    font-size: 48px;
    margin: 0;
    color: var(--color4);
}

h2 {font-size: 32px;}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px;
}



.flex-center {
    justify-content: center;
    align-items: center;

}

.flex-column {
    display: flex;
    flex-direction: column;

}

.justify-center {
    justify-content: center;

}

.text-center {
    text-align: center;
}

.btn {
    font-size: 38.4px;
    padding: 32px 0px;
    width: 480px;
    margin: 32px;
    text-decoration: underline;
    color: var(--color4);
    text-align: center;
    border: 2px solid;
    border-color: var(--color4);

}

.btn:hover {background-color: var(--color4);
    color: var(--color1);
  -webkit-transition: 1s ease;
}

.fa-message {font-size: 38.4px;
             margin-left: 16px;
}

/* Modal used for contact form was guided by youtube video: https://www.youtube.com/watch?v=KjQ8uvAt9kQ */

.modal-con { position: fixed;
             top: 0;
             left:0;
             width: 100%;
             height: 100vh;
             background-color: var(--color2);
             display: flex;
             justify-content: center;
             align-items: center;
             visibility: hidden;
             opacity: 0;
             transition: visibility 0.5s ease, opacity 0.5s ease;



}

.con-active {

    visibility:visible;
    opacity: 1;
}

.modal {

    height: 33%;
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}


