/* color palette included from coolors.co guidance on making the website taken from youtube video https://www.youtube.com/watch?v=f4fB9Xg2JEY
video guidance was adapted to suit my needs for the site. Also trying using variables and got guidance from https://www.w3schools.com/css/css3_variables.asp*/

/* Var color uses 

 Color 1 - Background 
 Color 2 - Text 
 Color 3 - Question box  
 Color 4 - Boxes/heading text 
 Color 5 - Answer box shadow

*/
/*:root {
    --color1: #ffbe0b;
    --color2: #FFD86E;
    --color3: #ff006e;
    --color4: #8338ec;
    --color5: #3a86ff;
    background-color: var(--color1)

}*/


:root {
    
    font-family: 'Comic Neue', sans-serif;
    box-sizing: border-box;
	margin: 0;
    padding:0;
    font-size: 1em;
	width: 100vw;
    --color1: #ffbe0b;
    --color2: #FFD86E;
    --color3: #ff006e;
    --color4: #8338ec;
    --color5: #3a86ff;
    background-color: var(--color1)

}

header {
    font-size: 2em;
    font-weight: 900;
    margin-top: 2.5em;
    color: var(--color4);
    text-shadow: 0.125em 0.125em 0.25em rgba(204, 163, 0, 0.1),
    1.33em 0.25em 0.25em rgba(204, 163, 0, 0.15),
    0.25em 0.375em 0.25em rgba(204, 163, 0, 0.2),
    0.3125em 0.5em 0.25em rgba(204, 163, 0, 0.25);
}

h2 {font-size: 1.75em;
    text-align: center;
    color: var(--color4)}
/*
p   {color: var(--color4)}
*/
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80em;
    margin: 0 auto;
    padding: 2em;
}



.flex-center {
    justify-content: center;
    align-items: center;

}

.flex-column {
    display: flex;
    flex-direction: column;

}

.justify-center {
    justify-content: center;

}

.text-center {
    text-align: center;
}

.btn {
    font-size: 2em;
    padding: 1em 0em;
    width: 75%;
    margin: 0.5em;
    text-decoration: underline;
    color: var(--color4);
    text-align: center;
    border: 0.125em solid;
    border-color: var(--color4);
    border-radius: 50%;

}

.btn:hover {background-color: var(--color4);
    color: var(--color1);
  -webkit-transition: 1s ease;
}

.fa-message {font-size: 1em;
             margin-left: 1em;
}

/* Modal used for contact form was guided by youtube video: https://www.youtube.com/watch?v=KjQ8uvAt9kQ */

.modal-style { position: fixed;
             top: 0;
             left:0;
             width: 100%;
             height: 100vh;
             background-color: var(--color2);
             display: flex;
             justify-content: center;
             align-items: center;
             visibility: hidden;
             opacity: 0;
             transition: visibility 0.5s ease, opacity 0.5s ease;



}


.con-active {
    visibility:visible;
    opacity: 1;
}

.modal {
    position: relative;
    height: 80%;
    width: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.modal-close{
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    }

.modal-close:hover {

    color: var(--color4);
    cursor: pointer;
    
}

.modal-close-rules {
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    }

.modal-close-rules:hover {

    color: var(--color4);
    cursor: pointer;
    
}

.space-below {
    padding-bottom: 0.5em;
}


@media screen and (max-width: 480px) {

.container {
    max-width: 100%;
    font-size: 1.5em;

}

header {
    font-size: 1.5em;
    margin-top: 2em;
}

h2 {
    font-size: 1em;
    text-align: center;
    color: var(--color4);
    margin: 0.2em;
}

.btn {
    font-size: 1.5em;
    padding: 0.25em 0em;
    margin: 0.2em;
    text-decoration: underline;
    color: var(--color4);
    text-align: center;
    border: 0.125em solid;
    border-color: var(--color4);
}

.fa-message {font-size: 1em;
    margin-left: 1em;
}

.modal-style { 
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;



}


.con-active {
visibility:visible;
opacity: 1;
}

.modal {
position: relative;
height: 100%;
width: 100%;
padding: 1rem;
display: flex;
justify-content: center;
flex-direction: column;
justify-content: space-around;
background-color: var(--color2);
}

.modal-close{
position: absolute;
top: 1.5em;
right: 1.5em;
}

.modal-close:hover {

color: var(--color4);
cursor: pointer;

}

.modal-close-rules {
position: absolute;
top: 0.625em;
right: 0.625em;
}

.modal-close-rules:hover {

color: var(--color4);
cursor: pointer;

}





}